body{
    background-color: #e0e0e0;
}
.divtitulo{
    display: flex;
    justify-content: center;
}

.tarefa{
    width: 600px;
    height: 150px;
    text-align: center;
    
    background-color: white;
}
footer h5{
    text-align: end;
}